:root {
    --primary-color: rgba(13, 21, 16, 0.435);
    --secondary-color: white;
  }
  
* {
  font-family: 'Montserrat','sans-serif';
}
  
body {
    background: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)), url("./images/vineyard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
  
.welcome-text {
  text-align: center;
  color: #fff;
  border-radius: 0.5em;
}

.welcome-text div {
  margin: 1.25em;
}

.welcome-text img {
  width: 200px;
  border-radius: 2em;
}
  
.welcome-text h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.welcome-text h4 {
  text-transform: uppercase;
  font-size: 16px;
}

/*Start of contact section*/
.contact-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-text h2 {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 1.16em;
  color: white;
}

  /*Start of Navigation*/
.logo {
  display: flex;
}
  
.logo h1 {
  color: white;
  padding: 1em 0em 0.5em 1.64em;
  font-weight: none;
}

.logo img {
  margin-left: 8px;
  width: 70px;
  height: 80px;
  margin-top: 25px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0px 0px 15px;
    justify-content: left;
    align-items: center;
    display: flex;
}
.logo{
    width: 48px;
    cursor: pointer;
}
.navbar ul li{
    padding: 1.5em 0.5em;
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li a:hover{
  color: yellow;
}
/*End of Navigation*/
.socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 32px;
  color: #aaaaaa;
  transition: color 0.2s; /*take 0.2s for the transition*/
  text-decoration: none;
  margin: 0 10px;  /*0px for top/bottom, 10px for left/right*/
}

#linkedin {
  color: rgb(10,102,194);
  transition: color 0.2s;
}
#linkedin:hover {
  color: rgb(255, 255, 255);
}

#facebook {
  color: rgb(24,119,242);
}
#facebook:hover {
  color: rgb(255, 255, 255);
}

#youtube {
  color: rgb(249, 79, 79);
}
#youtube:hover {
  color: rgb(255, 255, 255);
}

.footer .paragraph {
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 16px;
}

.footer .paragraph {
  font-size: 24px;
}